
.wrapper{
  height:100%;
  position:fixed;
}
.wrapper:after{
  display:table;
  content:"";
  clear:both;
  background-color:white;
}
.column{
  float:left;
}

.left{
  width:5%;
  position:fixed;
}
.middle{
  width:27%;
  position:fixed;
  left:5%;
}
.right{
  left:32%;
  width:67%;
  position:fixed;
}

#boxSidebar{
  border-right-color: #00acee!important;
  border-right-width: 5px;
  border-right-style:solid;
  height:100%;
  float:left;
}

#boxChatsContent{
  border-right-color: #00acee!important;
  border-right-width: 5px;
  border-right-style:solid;
  height:100%;
  float:left;
}



