@import "src/styles.scss";

.imagesButtons{
  width:  50%;
  height: 50%;
  @include themify($themes) {
    border: 2px solid themed('medium-color')!important;
  }
  border-radius: 50%;
}

.list-buttons {
  height:100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: flex;
  align-items:center
}

 button{
   border:none;
   background: none;
   margin:auto;
 }

 .buttonsSidebar:hover{
   border-radius: 50%;
   height: 75%;
   width: 75%;

   transform: scale(1);
   animation: pulse 2s infinite;
 }

 @keyframes pulse {
   0% {
     transform: scale(0.95);
     box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
   }

   60% {
     transform: scale(1);
     box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
   }

   100% {
     transform: scale(0.95);
     box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
   }
 }


