<mat-list class="listButtons background-frame" [ngClass]="{'theme-light':user.idSettings == 1, 'theme-dark':user.idSettings != 1 }">
  <mat-list-item class="rowButtons">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/profileExample.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons">
    <button mat-icon-button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/DaySettings1.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/NightSettings.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" (click)="changeModal(true);">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/addUserUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" (click)="setModalCreateGroup(true);">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/folderUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/searchUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/starUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons">
    <button mat-icon-button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/DayGallery1.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/NightGallery.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" (click)="changeColor(user.idSettings == 1);">
    <button mat-icon-button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/NightButton2.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/DayButton1.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/robotUnfilled.png" (click)="logout();" alt="">
    </button>
  </mat-list-item>
</mat-list>




