<mat-list class="listButtons">
  <mat-list-item class="rowButtons" id="profileSidebar">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar" id="imageProfile" src="../../../assets/profileExample.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" id="settingsSidebar">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/settingsUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" id="addChatSidebar" (click)="changeModal(true);">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/addUserUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" id="searchSidebar">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/searchUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" id="starSidebar">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons" src="../../../assets/starUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" id="starSidebar1">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons"  src="../../../assets/robotUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" id="starSidebar2">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons"  src="../../../assets/galleryUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" id="starSidebar3">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons"  src="../../../assets/folderUnfilled.png" alt="">
    </button>
  </mat-list-item>
  <mat-list-item class="rowButtons" id="starSidebar4">
    <button mat-icon-button aria-label="">
      <img class="buttonsSidebar imagesButtons"  src="../../../assets/bellUnfilled.png" alt="">
    </button>
  </mat-list-item>
</mat-list>





