<div class="list-buttons background-frame" [ngClass]="{'theme-light':user.idSettings == 1, 'theme-dark':user.idSettings != 1 }">
  <div (click)="setModalProfile(true);">
    <button aria-label="">
      <img *ngIf="user.idSettings == 1" class="buttonsSidebar imagesButtons" src="../../../assets/UserDay1.png" alt="">
      <img *ngIf="user.idSettings != 1" class="buttonsSidebar imagesButtons" src="../../../assets/UserNight.png" alt="">
    </button>
  </div>
  <div>
    <button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/DaySettings1.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/NightSettings.png" alt="">
    </button>
  </div>
  <div (click)="changeModal(true);">
    <button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/ChatDay2.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/ChatNight3.png" alt="">
    </button>
  </div>
  <div (click)="setModalCreateGroup(true);">
    <button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/GroupDay1.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/GroupNight.png" alt="">
    </button>
  </div>
  <div>
    <button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/SearchDay1.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/SearchNight.png" alt="">
    </button>
  </div>
  <div>
    <button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/FavouriteDay2.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/FavouriteNight1.png" alt="">
    </button>
  </div>
  <div>
    <button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/DayGallery1.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/NightGallery.png" alt="">
    </button>
  </div>
  <div (click)="changeColor(user.idSettings == 1);">
    <button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/NightButton2.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/DayButton1.png" alt="">
    </button>
  </div>
  <div (click)="logout();">
    <button aria-label="">
      <img *ngIf="user.idSettings==1" class="buttonsSidebar imagesButtons" src="../../../assets/LogoutDay1.png" alt="">
      <img *ngIf="user.idSettings!=1" class="buttonsSidebar imagesButtons" src="../../../assets/LogoutNight.png" alt="">
    </button>
  </div>
</div>




