<div class="chatBox" [ngClass]="{'theme-light':user.idSettings == 1, 'theme-dark':user.idSettings != 1 }">
  <div *ngIf="chatObs != null" >
    <div class="upper">
      <mat-toolbar id="upperChat" color="warn">
        <img class="imageChatProfile" src="../../../assets/profileExample.png" alt="">
        <span class="spacerImageText"></span>
        <span *ngIf="chatObs.isPrivate && chatObs.name == user.userName"
              style="font-size:xx-large">{{chatObs.participants}}</span>
        <span *ngIf="!chatObs.isPrivate || chatObs.name != user.userName">{{chatObs.name}}</span>
      </mat-toolbar>
    </div>

    <div class="medium">
      <mat-list class="chatFrame messageWrapper">
        <mat-list-item *ngFor="let message of messageList" [ngClass]="{leftCard:message.sender != user.userName, messageBox: message.sender == user.userName, rightCard :message.sender == user.userName}">
          <!--This is the message that goes in the right part of the chat-->
          <mat-card *ngIf="message.sender == user.userName" class="rightItem">
            <mat-card-subtitle class="chat-messages--text--color" *ngIf="recogniseFileType(message.type) == 0"  [innerHTML]="message.message"></mat-card-subtitle>

            <mat-card-subtitle class="chat-messages--text--color" *ngIf="recogniseFileType(message.type) == 1" >
              <img [src]="formatImage(message)" (click)="maximizeImage(formatImage(message));" class="imageFile">
              <br>
              {{message.message}}
            </mat-card-subtitle>

          </mat-card>

          <!--This is the message that goes in the left part of the chat-->
          <mat-card *ngIf="message.sender != user.userName" class="leftItem">
            <mat-card-title class="chat-messages--text--color">{{message.sender}}</mat-card-title>

            <mat-card-subtitle class="chat-messages--text--color" *ngIf="recogniseFileType(message.type) == 0" [innerHTML]="message.message"></mat-card-subtitle>

            <mat-card-subtitle class="chat-messages--text--color" *ngIf="recogniseFileType(message.type) == 1" >
              <img [src]="formatImage(message)" (click)="maximizeImage(formatImage(message));" class="imageFile">
              <br>
              {{message.message}}
            </mat-card-subtitle>

          </mat-card>

        </mat-list-item>
      </mat-list>
    </div>
    <div class="lower">
      <mat-toolbar id="lowerChat" color="warn">
        <div class="leftButtonClip">
          <button mat-icon-button class="clipButton" (click)="openDialog()" aria-label="Drop files">
            <i class="fas fa-paperclip fa-3x"></i>
          </button>
        </div>
        <div class="midGifButton">
          <button mat-icon-button class="clipButton" aria-label="">
            <img class="" style="max-width: 30px;max-height: 30px;" src="../../../assets/gifUnfilled.png" alt="">
          </button>
        </div>
        <div class="rightTextArea">
          <form [formGroup]="messageData" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <textarea id="textAreaForm" formControlName="message"></textarea>

            <button mat-icon-button class="clipButton" aria-label="" id="submitButton" type="submit">
              <img class="" style="max-width: 30px;max-height: 30px;" src="../../../assets/sendUnfilled.png" alt="">
            </button>

          </form>
        </div>

      </mat-toolbar>
    </div>
  </div>
  <div *ngIf="chatObs==null" class="chatbox--background-no-chat--image">

  </div>
</div>
