<div *ngIf="chatObs!= null; else noChat">
  <cc-customizable-chat-chatbox
    [chatObs]="this.chatObs"
    [listUrls]="['http://localhost:3000/files','sendMessagePrivate','sendMessageGroup','fileSentMessage', 'http://localhost:3000/', 'messageSent', 'fileReceived']"
    [socket]="this.chatService.socket"
    [user]="this.user"
    [listChatsPrivate]="listChatsMessagesPrivate"
    [listChatsGroup]="listChatsMessagesGroup"
  ></cc-customizable-chat-chatbox>
  <!--getMessages y getFile, receiveMessage, receiveFile-->
</div>

<ng-template #noChat>
  <div class="chatbox--background-no-chat--image"></div>
</ng-template>



