@import "src/styles";

  .chatBox{
    position: absolute;
    height: 100%;
    width:100%;
  }

  .imageChatProfile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .spacerImageText{
    margin-right:2%;
  }

  #upperChat{
    @include themify($themes){
      border-bottom: 2px solid themed('medium-color');
      background: themed('main-color');
    }
    color: white;

    width:100%;
    height:100%;
  }


  #lowerChat{
    @include themify($themes){
      border-top: 2px solid themed('medium-color');
      background: themed('main-color');
    }
    width:100%;
    height:100%;
  }

  .upper{
    height:7%;
    width:100%;
    position:fixed;
  }

  .medium{
    position:fixed;
    height:86%;
    width:100%;
    top:7%;
    @include themify($themes){
      background: themed('background-chat-opened');
    }
    background-repeat: no-repeat;
  }

  .lower{
    height:7%;
    width:100%;
    bottom:0;
    position:fixed;
  }

  .chatFrame{
    width:62.5%;
    height:95%;
    top:2.5%;
    bottom:2.5%;
    left:2.5%;
    right:2.5%;
    position: relative;
    overflow-y:scroll;
  }

  .mat-card-title{
    font-size: medium;
  }

  .leftCard{
    width: 90%!important;
    height: auto!important;
    float: left!important;
    margin-bottom: 1%;
    max-width: 90%!important;
    word-break: break-all;
  }

  .leftItem{
    @include themify($themes){
      background: themed('message-left-fill');
      border: 2px solid themed('message-left-border')
    }

  }

  .rightCard{
    width: 90%!important;
    height: auto!important;
    float: right!important;
    margin-bottom: 1%;
    right:0;
    max-width: 90%!important;
    word-break: break-all;
  }

  ::ng-deep .mat-list-item.rightCard .mat-list-item-content{
    float:right!important;
  }

  .rightItem{
    float:right;
    @include themify($themes){
      background: themed('message-right-fill');
      border: 2px solid themed('message-right-border');
    }
    word-break: break-all;
  }


  .chat-messages--text--color{
    @include themify($themes){
      color: themed('text-right');
    }
  }

  #textAreaForm {
    resize: none;
    box-sizing: border-box;
    height: auto;
    min-height: 41px;
    max-height: 97px;
    width: 93%;
    @include themify($themes){
      border: 1px solid themed('medium-color');
    }
    border-radius: 20px;
    @include themify($themes){
      background-color: themed('background-textarea') ;
      color: themed('background-textarea-text')
    }
    outline: none;
    padding: 0 1% 0 1%;
    overflow: hidden;
    margin-top:1%;
  }

  .clipButton{
    width:auto;
  }

  .clipButton:hover{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }

  form {
    width:60%;
    float:left;
  }


  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    60% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  .mat-icon-button#submitButton{
    display:flex;
    float:right;
    margin-top:1%;
  }

  .leftButtonClip{
    width:4%;
  }

  .rightTextArea{
    width:86%;
    float:left;
  }

  .midGifButton{
    width:4%;
  }

  .chatbox--background-no-chat--image{

    @include themify($themes){
      background-image: themed('background-chat-closed')
    }
    width:100%!important;
    height: 100%!important;
  }

  .imageFile{
    width: 20%;
    height: 20%;
    position: relative;
    display: flex;
    text-align: center;
    left: 40%;
    cursor: pointer;
  }


  .chat-messages--file-image--details{
    width: 30%;
    height: 30%;
  }

