@import "src/styles";

body{
  width: 100%;
  height:100%;
}


.messages--image-file--dimensions{
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}


::ng-deep app-image-dialog{
  display: block ruby;
  text-align: center;
}
