.globalWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.buttonWrapper {
  display: table;
  width: 100%;
  height: 5%;
}

.chatsWrapper {
  width: 100%;
  height: 95%;
  overflow:auto;
}


/deep/ .mat-tab-label{
  width: calc(100%/3) !important;
}

/deep/ .mat-divider{
  float: right!important;
  border-top-width: 0.125em!important;
  border-top-color: #00acee!important;
}

/deep/.mat-list-base{
  padding-top: 0px!important;
}

/deep/ .mat-ink-bar{
  background-color: #00acee!important;
}

/deep/ .mat-badge-content{
  background: #00acee!important;
  float:right!important;
  margin-top:50%!important;
}

.manualCard {
  width: 100%!important;
  height: auto!important;
  float: left!important;
}

.leftChat {
  width: 10%;
}

.midChat {
  width: 65%;
}

.rightChat{
  width: 25%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.imageChatProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #00acee;
}
