.globalWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.buttonWrapper {
  display: table;
  width: 100%;
  height: 5%;
}

.chatsWrapper {
  width: 100%;
  height: 95%;
  overflow:auto;
}

#dividerChat{
  float:right!important;
  width:50%;
  margin-left:25%;
  border-width: medium;
}

.manualCard:hover #dividerChat{

  animation: slide 0.5s;
}

@keyframes slide {
  0% {

  }

  100% {
    width: 100%;
    margin-left:0%;
  }
}


.manualCard {
  width: 100%!important;
  height: auto!important;
  float: left!important;
}

.leftChat {
  width: 5%;
}

.midChat {
  width: 70%;
}

.rightChat{
  width: 25%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.column {
  float: left;
}

.left {
  width: calc(100% / 3)!important;
}

.center {
  width: calc(100% / 3)!important;
}

.right {
  width: calc(100% / 3)!important;
}


.btn {
  width: 100%;
  border-radius: 0px;
  position: relative;
  display: block;
  color: black;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  border-top: 0px;
  border-bottom: 2px solid #000000;
  border-left: 0px;
  border-right: 2px solid #000000;
  padding-top: 4%;
  padding-bottom: 4%;
  overflow: hidden;
  transition: 1s all ease;
}

.btn::before {
  background: #beffff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}


.btn4::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn4:hover::before {
  height: 380%;
}

.chats {
  height: 95%;
}

.imageChatProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
