<div class="globalWrapper">
  <div class="buttonWrapper">
    <div class="column left">
      <button mat-button class="btn btn4" aria-label="">
        ElPepe
      </button>
    </div>
    <div class="column center">
      <button mat-button class="btn btn4" aria-label="">
        ElPepe
      </button>
    </div>
    <div class="column right">
      <button mat-button class="btn btn4" aria-label="">
        ElPepe
      </button>
    </div>
  </div>
  <mat-nav-list class="chatsWrapper">
    <mat-list-item>
      <div>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>
